/* Estilos generales */
body {
  font-family:monospace;
  margin: 0;
  padding: 0;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #272736;
}

.navbar-brand {
    color: #F57E78;
    font-weight:900;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: .5;
    color: #F57E78;
    background-color: #ffffff00;
    border-color: #F57E78;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image:url(/img/burgericon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

nav .nav-link {
    text-decoration: none;
    color: #F57E78;
    padding: 5px;
}

nav .nav-link:focus, .nav-link:hover {
    color: #ffffff;
}

.btn-outline {
    color: #ffffff;
    border-color: #ffffff;
} 

.btn-outline:hover, .btn-outline:focus {
    background-color: #ffffff;
    color: #000000;
    border-color: #F57E78;

}

form .btn {
    color: #000000;
    border-color: #F57E78;
}

form .btn-outline:hover, .btn-outline:focus {
    background-color: #F57E78;
    color: #ffffff;
    border-color: #F57E78;

}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

